{% extends 'layouts/page.njk' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageContent %}

  {{ govukBackLink({
    text: "Back",
    href: "/addresses"
  }) }}

  {{ appReferenceNumberCaption({ referenceNumber: referenceNumber }) }}
  {{ appHeading({ heading: pageTitle }) }}

  <div class="govuk-body" data-testid="app-page-body">

    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form method="post" novalidate>
      <input type="hidden" name="crumb" value="{{ crumb }}" />

      {% set radioItems = [] %}
      {% for destination in destinations %}
        {% set addressHtml %}
          {% if destination.name %}<strong>{{ destination.name }}</strong><br>{% endif %}
          {{ destination.address.addressLine1 }}<br>
          {% if destination.address.addressLine2 %}{{ destination.address.addressLine2 }}<br>{% endif %}
          {% if destination.address.addressLine3 %}{{ destination.address.addressLine3 }}<br>{% endif %}
          {% if destination.address.postcode %}{{ destination.address.postcode }}<br>{% endif %}
          {{ destination.address.country }}
        {% endset %}
        {% set _ = radioItems.push({
          value: loop.index0,
          checked: loop.index0 == selectedDestinationId,
          html: addressHtml
        }) %}
      {% endfor %}

      {{ govukRadios({
        idPrefix: "destination",
        name: "destination",
        fieldset: {
          legend: {
            text: "Select a place of destination",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: 'If the correct address is not shown, <a href="#" class="govuk-link">add a new address</a>, then return to this page.'
        },
        errorMessage: fieldErrors.destination if fieldErrors,
        items: radioItems
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}
      </div>

    </form>
  </div>
{% endblock %}
