{% extends layout %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block journeyContent %}
  {% if errorSummary %}
    {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorSummary }) }}
  {% endif %}

  <h1 class="govuk-heading-l">Add a claim</h1>

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />

    {% include "standalone/spike-c/templates/partials/claim-details.njk" %}

    {{ govukButton({ text: "Add claim" }) }}
  </form>
{% endblock %}
