{% extends "standalone/live-animals/shared/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "standalone/live-animals/shared/save-actions.njk" import saveActions %}

{% block journeyContent %}
  {% include "standalone/live-animals/shared/error-summary.njk" %}

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />

    {{ govukRadios({
      name: "reasonForImport",
      fieldset: {
        legend: {
          text: "What is the main reason for importing the animals?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      errorMessage: errors.reasonForImport and { text: errors.reasonForImport },
      items: reasonOptions
    }) }}

    {{ saveActions(hubHref) }}
  </form>
{% endblock %}
