{% extends 'layouts/page.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ appReferenceNumberCaption({ referenceNumber: referenceNumber }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/port-of-entry"
  }) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body" data-testid="app-page-body">

      {% if errorList %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      {{ appHeading({ caption: "Transport", text: pageTitle }) }}

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}" />
        <div class="govuk-form-group">
          <div id="certifiedFor-hint" class="govuk-hint">
            <p class="govuk-body">Your transporter must hold a valid transporter authorisation, issued by DAERA or APHA in the UK if they are:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>transporting any live vertebrate animals in, to, from or through Great Britain (GB)</li>
              <li>travelling on journeys of over 65 km</li>
              <li>transporting as part of an economic (commercial) activity</li>
            </ul>
          </div>
          <div id="findOutHowLink">
            <p class="govuk-body">
              <a href="https://www.gov.uk/guidance/transporting-animals-in-great-britain" class="govuk-link" rel="noreferrer noopener" target="_blank">
                Find out how to transport animals in connection with an economic activity (opens in new tab)</a>
            </p>
          </div>
          <div>
            <p class="govuk-body">Documents issued by DAERA are valid for use in GB.</p>
            <p class="govuk-body">Documents issued in any EU Member State are not valid for use in GB.</p>
          </div>
        </div>
        <div>
          {% if selectedTransporter %}
            <table class="govuk-table govuk-table--small-text-until-tablet">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name, address and country</th>
                <th scope="col" class="govuk-table__header">Approval number</th>
                <th scope="col" class="govuk-table__header">Type</th>
              </tr>
              </thead>
              <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {{ selectedTransporter.name }}
                  <p class="govuk-body">
                    {{ selectedTransporter.address.addressLine1 }}{% if selectedTransporter.address.addressLine2 %}, {{ selectedTransporter.address.addressLine2 }}{% endif %}{% if selectedTransporter.address.addressLine3 %}, {{ selectedTransporter.address.addressLine3 }}{% endif %}
                    {{ selectedTransporter.address.country }}
                  </p>
                </td>
                <td class="govuk-table__cell">{{ selectedTransporter.approvalNumber }}</td>
                <td class="govuk-table__cell">{{ selectedTransporter.type }}</td>
              </tr>
              </tbody>
            </table>
          {% else %}
            <p class="govuk-body">
              <a href="/transporter/select" class="govuk-link govuk-link--no-visited-state" id="addTransporter">Add a transporter</a>
            </p>
          {% endif %}
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
