{% extends 'layouts/page.njk' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageContent %}

  {{ govukBackLink({
    text: "Back",
    href: "/addresses"
  }) }}

  {{ appReferenceNumberCaption({ referenceNumber: referenceNumber }) }}
  {{ appHeading({ heading: pageTitle }) }}

  <div class="govuk-body" data-testid="app-page-body">

    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form method="post" novalidate>
      <input type="hidden" name="crumb" value="{{ crumb }}" />

      {% set radioItems = [] %}
      {% for operator in operators %}
        {% set addressHtml %}
          {% if operator.name %}<strong>{{ operator.name }}</strong><br>{% endif %}
          {{ operator.addressLine1 }}<br>
          {% if operator.addressLine2 %}{{ operator.addressLine2 }}<br>{% endif %}
          {% if operator.city %}{{ operator.city }}<br>{% endif %}
          {% if operator.county %}{{ operator.county }}<br>{% endif %}
          {% if operator.postcode %}{{ operator.postcode }}<br>{% endif %}
          {{ operator.country }}
        {% endset %}
        {% set _ = radioItems.push({
          value: operator.id,
          checked: operator.id == selectedOperatorId,
          html: addressHtml
        }) %}
      {% endfor %}

      {{ govukRadios({
        idPrefix: "consignee",
        name: "consignee",
        fieldset: {
          legend: {
            text: "Select a consignee",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: 'If the correct address is not shown, <a href="#" class="govuk-link">add a new address</a>, then return to this page.'
        },
        errorMessage: fieldErrors.consignee if fieldErrors,
        items: radioItems
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}
      </div>

    </form>
  </div>
{% endblock %}
