{% extends 'layouts/page.njk' %}

{% block pageContent %}
  {{ appHeading({
    heading: heading,
    caption: "trade-imports-animals-frontend"
  }) }}

  <div class="govuk-body" data-testid="app-page-body">
    <p>
    </p>
    {# TODO(EUDPA-194): temporary deliberate Lighthouse a11y violation (link-name) to smoke-test flagged-audits PR comment. Revert before merging. #}
    <a href="/"></a>
  </div>
{% endblock %}
