<div class="app-heading govuk-!-margin-bottom-6" data-testid="app-heading">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" data-testid="app-heading-title">
    {% if params.pageTitle %}
      <span class="govuk-caption-l">{{ params.pageTitle }}</span>
    {% endif %}
    {{ params.heading }}

    {% if params.caption %}
      <span class="govuk-caption-m govuk-!-margin-bottom-4"
            data-testid="app-heading-caption">{{ params.caption }}</span>
    {% endif %}
  </h1>
</div>
