{% extends "shared/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "shared/save-actions.njk" import saveActions %}
{% from "shared/section-caption.njk" import sectionCaption %}

{% block journeyContent %}
  {% include "shared/error-summary.njk" %}

  {{ sectionCaption(caption) }}
  <h1 class="govuk-heading-l">{{ copy.title }}</h1>

  <p class="govuk-body">{{ copy.intro }}</p>

  <p class="govuk-body">{{ copy.guidance.authorisationLead }}</p>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    {% for condition in copy.guidance.authorisationConditions %}
      <li>{{ condition }}</li>
    {% endfor %}
  </ul>
  <p class="govuk-body">
    <a href="{{ copy.guidance.linkHref }}" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ copy.guidance.linkText }}</a>
  </p>
  <p class="govuk-body">{{ copy.guidance.daeraValid }}</p>
  <p class="govuk-body">{{ copy.guidance.euNotValid }}</p>

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />
    <input type="hidden" name="concurrencyToken" value="{{ concurrencyToken }}" />

    {{ govukRadios({
      name: "transporter",
      fieldset: {
        legend: {
          text: copy.legend,
          classes: "govuk-fieldset__legend--m"
        }
      },
      errorMessage: errors.transporter and { text: errors.transporter },
      items: transporterOptions
    }) }}

    {# The way out of the list for a trader whose transporter is not on it. #}
    {{ govukButton({
      text: copy.add,
      href: addHref,
      classes: "govuk-button--secondary"
    }) }}

    {{ saveActions(hubHref, copy = sharedCopy.saveActions) }}
  </form>
{% endblock %}
