{% extends "live-animals/shared/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "live-animals/shared/save-actions.njk" import saveActions %}

{% block journeyContent %}
  {% include "live-animals/shared/error-summary.njk" %}

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />

    {{ govukRadios({
      name: "commercialTransporter",
      fieldset: {
        legend: {
          text: copy.title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: { text: copy.hint },
      errorMessage: errors.commercialTransporter and { text: errors.commercialTransporter },
      items: transporterOptions
    }) }}

    {{ saveActions(hubHref, copy = sharedCopy.saveActions) }}
  </form>
{% endblock %}
