{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ appReferenceNumberCaption({ referenceNumber: referenceNumber }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/commodities/identification"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        {% if errorList %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <span class="govuk-caption-l">Description of the goods</span>
        <h1 class="govuk-heading-l">Additional animal details</h1>

        <form method="post" novalidate>
          <input type="hidden" name="crumb" value="{{ crumb }}" />

          {{ govukRadios({
            name: "certifiedFor",
            value: certifiedFor,
            fieldset: {
              legend: {
                html: '<h2 class="govuk-fieldset__heading">What are the animals certified for?</h2>',
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "You'll find this on the health certificate."
            },
            items: [
              {
                value: "approvedBodies",
                text: "Approved bodies"
              },
              {
                value: "breedingAndOrProduction",
                text: "Breeding and/or production"
              },
              {
                value: "slaughter",
                text: "Slaughter"
              }
            ]
          }) }}

          {{ govukRadios({
            name: "unweanedAnimals",
            value: unweanedAnimals,
            fieldset: {
              legend: {
                html: '<h2 class="govuk-fieldset__heading">Does the consignment contain any unweaned animals?</h2>',
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "These are animals that are still feeding from their mother."
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}

        </form>
      </div>
    </div>
  </div>
{% endblock %}
