{% extends "shared/layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "shared/save-actions.njk" import saveActions %}

{% block journeyContent %}
  {% include "shared/error-summary.njk" %}

  <h1 class="govuk-heading-l">{{ copy.title }}</h1>

  {{ govukInsetText({
    text: copy.inset
  }) }}

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />
    <input type="hidden" name="concurrencyToken" value="{{ concurrencyToken }}" />

    {% for group in commodityGroups %}
      {% set idPrefix = "species" if loop.first else "species-group-" + loop.index %}
      {{ govukCheckboxes({
        idPrefix: idPrefix,
        name: "species",
        classes: "govuk-checkboxes--small",
        fieldset: { legend: { text: group.legend, classes: "govuk-fieldset__legend--s" } },
        errorMessage: loop.first and errors.species and { text: errors.species },
        items: group.items
      }) }}
    {% endfor %}

    {{ govukDetails({
      summaryText: copy.help.summary,
      text: copy.help.text
    }) }}

    {{ saveActions(hubHref, copy = sharedCopy.saveActions) }}
  </form>
{% endblock %}
