{% extends 'layouts/page.njk' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block content %}
  {{ appReferenceNumberCaption({ referenceNumber: referenceNumber }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/import-reason"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <form method="post" id="commodity-details-form" name="commodity-details-form" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}" />
        <input type="hidden" id="totalNoOfAnimals" name="totalNoOfAnimals" value="{{ totalNoOfAnimals }}" />
        <input type="hidden" id="totalNoOfPackages" name="totalNoOfPackages" value="{{ totalNoOfPackages }}" />

          <span class="govuk-caption-xl">Description of the goods</span>
          <h1 class="govuk-heading-xl">Commodity</h1>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Commodities</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Commodity code</th>
              <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Description</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ commodityDetails.code }}</td>
                <td class="govuk-table__cell">{{ commodityDetails.description }}</td>
              </tr>
            </tbody>
          </table>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">{{ commodityDetails.description }}</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Species and type</th>
              <th scope="col" class="govuk-table__header">Number of animals</th>
              <th scope="col" class="govuk-table__header">Number of packages such as crates, bags or boxes (when required)</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for species in speciesLst %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {{ species.text }}, {{ typeOfCommodity }}
                </td>
                <td class="govuk-table__cell">
                  <input class="govuk-input" id="noOfAnimals-{{ species.value }}" name="noOfAnimals-{{ species.value }}" type="number" value="{{ species.noOfAnimals }}"/>
                </td>
                <td class="govuk-table__cell">
                  <input class="govuk-input" id="noOfPackages-{{ species.value }}" name="noOfPackages-{{ species.value }}" type="number" value="{{ species.noOfPackages }}"/>
                </td>
              </tr>
            {% endfor %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">Subtotal</td>
                <td class="govuk-table__cell" id="subtotalNoOfAnimals">{{ totalNoOfAnimals }}</td>
                <td class="govuk-table__cell" id="subtotalNoOfPackages">{{ totalNoOfPackages }}</td>
              </tr>
            </tbody>
          </table>

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue"
            }) }}
          </div>

        </form>

      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath('commoditySubTotal.js') }}"></script>
{% endblock %}

