{% extends layout %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block journeyContent %}
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />

    {% include "shared/partials/fields.njk" %}

    {{ govukButton({ text: "Save and continue" }) }}
  </form>
{% endblock %}
