{% extends 'layouts/page.njk' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}


{% block content %}
  {{ appReferenceNumberCaption({ referenceNumber: referenceNumber }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/commodities/select"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        {% if errorList %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <form method="post" novalidate>
          <input type="hidden" name="crumb" value="{{ crumb }}" />

          {{ govukRadios({
            idPrefix: "reasonForImport",
            name: "reasonForImport",
            value: reasonForImport,
            fieldset: {
              legend: {
                html: '<span class="govuk-caption-xl">About the consignment</span><h1 class="govuk-heading-xl">What is the main reason for importing the animals?</h1>',
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "internalMarket",
                text: "Internal Market",
                hint: {
                  text: "The consignment is intended for sale or use in Great Britain (England, Scotland or Wales)."
                }
              },
              {
                value: "reEntry",
                text: "Re-entry",
                hint: {
                  text: "The consignment is authorised for re-entry or includes rejected exports that are re-entering Great Britain."
                }
              }
            ]
          }) }}

          {{ govukButton({ text: "Save and continue" }) }}

        </form>
      </div>
    </div>
  </div>
{% endblock %}
