{% if pagination %}
  <nav class="notifications-pagination" aria-label="Pagination">
    {% if pagination.previous %}
      <div class="notifications-pagination__item notifications-pagination__item--previous">
        <a class="govuk-link notifications-pagination__link govuk-link--no-visited-state" href="{{ pagination.previous.href }}">
          <span class="notifications-pagination__label">
            <span class="notifications-pagination__arrow" aria-hidden="true">&larr;</span> {{ pagination.previous.label }}
          </span>
          <span class="notifications-pagination__page">{{ pagination.previous.pageText }}</span>
        </a>
      </div>
    {% endif %}

    {% if pagination.next %}
      <div class="notifications-pagination__item notifications-pagination__item--next">
        <a class="govuk-link notifications-pagination__link govuk-link--no-visited-state" href="{{ pagination.next.href }}">
          <span class="notifications-pagination__label">
            {{ pagination.next.label }} <span class="notifications-pagination__arrow" aria-hidden="true">&rarr;</span>
          </span>
          <span class="notifications-pagination__page">{{ pagination.next.pageText }}</span>
        </a>
      </div>
    {% endif %}
  </nav>
{% endif %}
