{% extends "standalone/live-animals/shared/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "standalone/live-animals/shared/save-actions.njk" import saveActions %}

{% block journeyContent %}
  {% include "standalone/live-animals/shared/error-summary.njk" %}

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />

    {{ govukRadios({
      name: "transporterType",
      fieldset: {
        legend: {
          text: copy.legend,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: { text: copy.hint },
      errorMessage: errors.transporterType and { text: errors.transporterType },
      items: [
        {
          value: "Commercial",
          text: copy.options["Commercial"].text,
          hint: { text: copy.options["Commercial"].hint },
          checked: values.transporterType == "Commercial"
        },
        {
          value: "Private",
          text: copy.options["Private"].text,
          hint: { text: copy.options["Private"].hint },
          checked: values.transporterType == "Private"
        }
      ]
    }) }}

    {{ saveActions(hubHref, copy = sharedCopy.saveActions) }}
  </form>
{% endblock %}
