{% extends "task-list/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block journeyContent %}
  <h1 class="govuk-heading-xl">Get a car insurance quote</h1>

  <p class="govuk-body">
    You can complete the sections in any order. Your progress is saved as you go.
  </p>

  <form method="post" action="/prototype/task-list/start" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />
    {{ govukButton({ text: "Start now", isStartButton: true }) }}
  </form>
{% endblock %}
