{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukInput({
  label: { text: "Full name" },
  id: "fullName",
  name: "fullName",
  value: quote.fullName
}) }}

{{ govukInput({
  label: { text: "Email address" },
  id: "email",
  name: "email",
  type: "email",
  spellcheck: false,
  value: quote.email
}) }}

{{ govukDateInput({
  id: "dateOfBirth",
  namePrefix: "dateOfBirth",
  fieldset: { legend: { text: "Date of birth" } },
  hint: { text: "For example, 27 3 1985" },
  items: [
    { name: "day", classes: "govuk-input--width-2", value: quote.dateOfBirth.day if quote.dateOfBirth },
    { name: "month", classes: "govuk-input--width-2", value: quote.dateOfBirth.month if quote.dateOfBirth },
    { name: "year", classes: "govuk-input--width-4", value: quote.dateOfBirth.year if quote.dateOfBirth }
  ]
}) }}
