{% extends 'layouts/page.njk' %}

{% set pageTitle = pageTitle %}

{% block head %}
  {{ super() }}
  {# EUDPA-106 Option 3-with-callbacks: no-JS async poll of the backend list.
     The browser re-issues the GET on an interval; the handler checks whether
     the callback has landed by seeing if the notification has any docs. As
     soon as it does, the handler 302s to /accompanying-documents. #}
  <meta http-equiv="refresh" content="{{ refreshIntervalSeconds }};url=/accompanying-documents/upload-successful?attempt={{ nextAttempt }}">
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Uploading your file</h1>
      <p class="govuk-body">We're scanning your file for viruses. This page will refresh automatically.</p>
      <p class="govuk-body">
        <a href="/accompanying-documents/upload-successful?attempt={{ nextAttempt }}" class="govuk-link">Refresh now</a>
        or
        <a href="/accompanying-documents" class="govuk-link">continue without waiting</a>
      </p>
    </div>
  </div>
{% endblock %}
