{% extends 'layouts/page.njk' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}


{% block content %}
  {% if referenceNumber %}
    <span class="govuk-caption-xl">{{ referenceNumber }}</span>
  {% endif %}

  {{ govukBackLink({
    text: "Back",
    href: "/commodities"
  }) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body" data-testid="app-page-body">

      {% if errorList %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}" />

        <span class="govuk-caption-xl">Description of the goods</span>
        <h1 class="govuk-heading-xl">Commodity</h1>

        <table class="govuk-table" id="commodityDetails">
          <caption class="govuk-table__caption govuk-table__caption--m">Commodities</caption>
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Commodity code</th>
            <th scope="col" class="govuk-table__header">Common name</th>
            <th scope="col" class="govuk-table__header">Description</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% if commodityDetails %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ commodityDetails.code }}</td>
              <td class="govuk-table__cell">Cow</td>
              <td class="govuk-table__cell">{{ commodityDetails.description }}</td>
            </tr>
          {% endif %}
          </tbody>
        </table>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Type of commodity
              </h1>
            </legend>
            <select class="govuk-select" id="typeOfCommodity" name="typeOfCommodity">
              <option value="">Select type of commodity</option>
              <option value="" disabled>────────────────────────</option>
              {% for type in speciesDetails.data.types %}
                <option value="{{ type.text }}" {% if typeOfCommodity == type.text %}selected{% endif %}>{{ type.text }}</option>
              {% endfor %}
            </select>
          </fieldset>
        </div>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Select species of commodity
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              {% for speciesItem in speciesDetails.data.species %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="{{ speciesItem.value }}-checkbox" name="species" id="species"
                         type="checkbox" value="{{ speciesItem.value }}" {% if speciesItem.value in savedSpeciesValues %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="{{ speciesItem.value }}-checkbox">
                    {{ speciesItem.text }}
                  </label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}
