{% extends "shared/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block journeyContent %}
  <h1 class="govuk-heading-xl">{{ heading }}</h1>

  {% if commodityTotals %}
    <h2 class="govuk-heading-l">{{ copy.commodityTotals.heading }}</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half govuk-!-margin-bottom-4">
        <div class="app-commodity-total">
          <p class="app-commodity-total__value">{{ commodityTotals.animals }}</p>
          <h3 class="app-commodity-total__label">{{ copy.commodityTotals.animalsLabel }}</h3>
          <p class="app-commodity-total__caption">{{ copy.commodityTotals.animalsCaption }}</p>
        </div>
      </div>
      <div class="govuk-grid-column-one-half govuk-!-margin-bottom-4">
        <div class="app-commodity-total">
          <p class="app-commodity-total__value">{{ commodityTotals.packages }}</p>
          <h3 class="app-commodity-total__label">{{ copy.commodityTotals.packagesLabel }}</h3>
          <p class="app-commodity-total__caption">{{ copy.commodityTotals.packagesCaption }}</p>
        </div>
      </div>
    </div>
  {% endif %}

  {% for group in groups %}
    <h2 class="govuk-heading-m">{{ group.caption }}</h2>
    {{ govukTaskList({
      idPrefix: group.id,
      items: group.items,
      classes: "app-task-list govuk-!-margin-bottom-8"
    }) }}
  {% endfor %}

  {{ govukButton({
    text: copy.returnToDashboard,
    href: dashboardHref,
    classes: "govuk-button--secondary"
  }) }}
{% endblock %}
