{% extends "standalone/live-animals/shared/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block journeyContent %}
  <h1 class="govuk-heading-xl">{{ heading }}</h1>

  {% if commodityTotals %}
    <h2 class="govuk-heading-l">{{ copy.commodityTotals.heading }}</h2>
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-one-half">
        {{ govukSummaryList({
          card: { title: { text: copy.commodityTotals.animalsCardTitle, headingLevel: 3 } },
          rows: [
            {
              key: { text: copy.commodityTotals.animalsRow },
              value: { text: commodityTotals.animals }
            }
          ]
        }) }}
      </div>
      <div class="govuk-grid-column-one-half">
        {{ govukSummaryList({
          card: { title: { text: copy.commodityTotals.packagesCardTitle, headingLevel: 3 } },
          rows: [
            {
              key: { text: copy.commodityTotals.packagesRow },
              value: { text: commodityTotals.packages }
            }
          ]
        }) }}
      </div>
    </div>
  {% endif %}

  {% for group in groups %}
    <h2 class="govuk-heading-m">{{ group.caption }}</h2>
    {{ govukTaskList({
      idPrefix: group.id,
      items: group.items,
      classes: "app-task-list govuk-!-margin-bottom-8"
    }) }}
  {% endfor %}

  {{ govukButton({
    text: copy.returnToDashboard,
    href: dashboardHref,
    classes: "govuk-button--secondary"
  }) }}
{% endblock %}
