{% extends "standalone/live-animals/shared/layout.njk" %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block journeyContent %}
  <h1 class="govuk-heading-xl">{{ heading }}</h1>
  <p class="govuk-body">{{ progressLine }}</p>

  {{ govukTaskList({ items: items, classes: "app-task-list" }) }}
{% endblock %}
