{% extends 'layouts/page.njk' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageContent %}

  {{ govukBackLink({
    text: "Back",
    href: "/addresses"
  }) }}

  {{ appReferenceNumberCaption({ referenceNumber: referenceNumber }) }}
  {{ appHeading({ pageTitle: "Movement", heading: "Arrival details" }) }}

      <div class="govuk-body" data-testid="app-page-body">

        {% if errorList %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <form method="post" novalidate>
          <input type="hidden" name="crumb" value="{{ crumb }}" />

          {{ govukDateInput({
            id: "arrivalDate",
            namePrefix: "arrivalDate",
            fieldset: {
              legend: {
                text: "When will the consignment arrive at its final destination?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 27 3 2026"
            },
            errorMessage: fieldErrors["arrivalDate-day"] or fieldErrors["arrivalDate-month"] or fieldErrors["arrivalDate-year"] if fieldErrors,
            items: [
              {
                label: "Day",
                id: "arrivalDate-day",
                name: "day",
                classes: "govuk-input--width-2",
                value: arrivalDate.day if arrivalDate
              },
              {
                label: "Month",
                id: "arrivalDate-month",
                name: "month",
                classes: "govuk-input--width-2",
                value: arrivalDate.month if arrivalDate
              },
              {
                label: "Year",
                id: "arrivalDate-year",
                name: "year",
                classes: "govuk-input--width-4",
                value: arrivalDate.year if arrivalDate
              }
            ]
          }) }}

          {{ govukSelect({
            id: "portOfEntry",
            name: "portOfEntry",
            label: {
              text: "What is the port of entry into Great Britain?",
              classes: "govuk-label--m"
            },
            value: portOfEntry if portOfEntry,
            errorMessage: fieldErrors["portOfEntry"] if fieldErrors,
            items: portItems
          }) }}

          {{ govukSelect({
            id: "meansOfTransport",
            name: "meansOfTransport",
            label: {
              text: "Means of transport",
              classes: "govuk-label--m"
            },
            value: meansOfTransport if meansOfTransport,
            errorMessage: fieldErrors["meansOfTransport"] if fieldErrors,
            items: [
              { value: "", text: "Select one" },
              { value: "AIRPLANE", text: "Airplane" },
              { value: "RAILWAY", text: "Railway" },
              { value: "ROAD_VEHICLE", text: "Road vehicle" },
              { value: "VESSEL", text: "Vessel" }
            ]
          }) }}

          {{ govukInput({
            id: "transportIdentification",
            name: "transportIdentification",
            label: {
              text: "Transport identification",
              classes: "govuk-label--m"
            },
            hint: {
              html: 'To identify the means of transport, enter (one of the following):
                <ul class="govuk-list govuk-list--bullet">
                  <li>flight number</li>
                  <li>train number</li>
                  <li>road vehicle registration number</li>
                  <li>vessel name (for ferries, also the road vehicle registration number)</li>
                </ul>'
            },
            classes: "govuk-!-width-three-quarters",
            attributes: { maxlength: "58" },
            value: transportIdentification if transportIdentification,
            errorMessage: fieldErrors["transportIdentification"] if fieldErrors
          }) }}

          {{ govukInput({
            id: "transportDocumentReference",
            name: "transportDocumentReference",
            label: {
              text: "Transport document reference",
              classes: "govuk-label--m"
            },
            hint: {
              text: "Enter the reference number on the air waybill, bill of lading, sea waybill, road consignment note (CMR) or other transport document."
            },
            classes: "govuk-!-width-three-quarters",
            attributes: { maxlength: "58" },
            value: transportDocumentReference if transportDocumentReference,
            errorMessage: fieldErrors["transportDocumentReference"] if fieldErrors
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue"
            }) }}
          </div>
        </form>

      </div>
{% endblock %}
