{% extends "input-types/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block journeyContent %}
  <h1 class="govuk-heading-l">What you entered</h1>

  <p class="govuk-body">Everything captured by the reference journey.</p>

  {{ govukSummaryList({ rows: rows }) }}

  <p class="govuk-body">
    <a class="govuk-link" href="/prototype">Return to the prototype list</a>
  </p>
{% endblock %}
