{% extends "shared/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "shared/save-actions.njk" import saveActions %}

{% block journeyContent %}
  {% include "shared/error-summary.njk" %}

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />

    {{ govukRadios({
      idPrefix: "commodityInputMethod",
      name: "commodityInputMethod",
      fieldset: {
        legend: {
          html: '<span class="govuk-caption-xl">' ~ copy.caption ~ '</span>' ~ copy.heading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      errorMessage: errors.commodityInputMethod and { text: errors.commodityInputMethod },
      items: inputMethodOptions
    }) }}

    {{ saveActions(hubHref, copy = sharedCopy.saveActions) }}
  </form>
{% endblock %}
