{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "service-header/macro.njk" import appServiceHeader %}

{% set homeUrl = "/prototype-standalone/live-animals" %}

{% block head %}
  <meta name="csrf-token" content="{{ crumb }}">
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block pageTitle %}{% if errorSummary %}{{ sharedCopy.layout.errorTitlePrefix }}{% endif %}{{ pageTitle }} | {{ sharedCopy.layout.serviceName }}{% endblock %}

{% block govukHeader %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block govukServiceNavigation %}
  {{ govukServiceNavigation({
    serviceName: sharedCopy.layout.serviceName,
    serviceUrl: homeUrl
  }) }}
{% endblock %}

{% block containerStart %}
  {% if userSession and userSession.isAuthenticated %}
    {{ appServiceHeader({ userSession: userSession }) }}
  {% endif %}
  {{ super() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: sharedCopy.layout.phaseBanner.tag },
    html: sharedCopy.layout.phaseBanner.html
  }) }}
  {% if breadcrumbs !== false %}
    {{ govukBreadcrumbs({
      items: breadcrumbs if breadcrumbs else [
        { text: sharedCopy.layout.breadcrumbs.prototypes, href: "/prototype-standalone" },
        { text: sharedCopy.layout.breadcrumbs.serviceHome, href: homeUrl },
        { text: pageTitle }
      ]
    }) }}
  {% endif %}
  {% if backLink %}
    {{ govukBackLink({ text: sharedCopy.layout.back, href: backLink }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if recoverableError %}
        {{ govukNotificationBanner({
          titleText: sharedCopy.recoverableError.title,
          text: sharedCopy.recoverableError.body,
          role: "alert"
        }) }}
      {% endif %}
      {% if journeyStrip %}
        <div class="app-journey-strip govuk-!-margin-bottom-4">
          {{ govukTag({ text: journeyStrip.status.text, classes: journeyStrip.status.classes }) }}
          <span class="govuk-body govuk-!-font-weight-bold">{{ journeyStrip.reference }}</span>
        </div>
      {% endif %}
      {% block journeyContent %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block govukFooter %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: sharedCopy.layout.footer.privacy
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: sharedCopy.layout.footer.cookies
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: sharedCopy.layout.footer.accessibility
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
