{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {% if referenceNumber %}
    <span class="govuk-caption-xl">{{ referenceNumber }}</span>
  {% endif %}

  {{ govukBackLink({
    text: "Back",
    href: "/additional-details"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        {% if errorList %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <span class="govuk-caption-l">{{ heading }}</span>
        <h1 class="govuk-heading-l">{{ heading }}</h1>

        <form method="post" novalidate>
          <input type="hidden" name="crumb" value="{{ crumb }}" />

          <div class="govuk-fieldset">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Consignor or exporter</h2>
                </legend>
                <div id="certifiedFor-hint" class="govuk-hint">
                  This is the sender of the consignment.
                </div>
                {% if selectedConsignor %}
                  <table class="govuk-table govuk-table--small-text-until-tablet">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Name</th>
                      <th scope="col" class="govuk-table__header">Address</th>
                      <th scope="col" class="govuk-table__header">Country</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">{{ selectedConsignor.name }}</td>
                      <td class="govuk-table__cell">
                        {{ selectedConsignor.address.addressLine1 }}{% if selectedConsignor.address.addressLine2 %}, {{ selectedConsignor.address.addressLine2 }}{% endif %}{% if selectedConsignor.address.addressLine3 %}, {{ selectedConsignor.address.addressLine3 }}{% endif %}
                      </td>
                      <td class="govuk-table__cell">{{ selectedConsignor.address.country }}</td>
                    </tr>
                    </tbody>
                  </table>
                {% else %}
                  <p class="govuk-body">
                    <a href="/consignors/select" class="govuk-link govuk-link--no-visited-state" id="addConsignorOrExporter">Add a consignor or exporter</a>
                  </p>
                {% endif %}
              </fieldset>
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Place of destination</h2>
                </legend>
                <div id="certifiedFor-hint" class="govuk-hint">
                  This is where the animals will be unloaded and accommodated for at least 48 hours. If a health certificate is required, it will show this address.
                </div>
                <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Providing a false address is an act of fraud.
                  </strong>
                </div>
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" id="addPlaceOfDestination">Add a place of destination</a>
                </p>
              </fieldset>
            </div>
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
