{% extends 'layouts/page.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "address-section/macro.njk" import appAddressSection %}

{% block pageContent %}

  {{ govukBackLink({
    text: "Back",
    href: "/accompanying-documents"
  }) }}

  {{ appReferenceNumberCaption({ referenceNumber: referenceNumber }) }}
  {{ appHeading({ pageTitle: "Consignment addresses", heading: "Consignment addresses" }) }}

      <div class="govuk-body" data-testid="app-page-body">

        {% if errorList %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <form method="post" novalidate>
          <input type="hidden" name="crumb" value="{{ crumb }}" />

          {{ govukWarningText({
            text: "Providing a false address is an act of fraud",
            iconFallbackText: "Warning"
          }) }}

          {{ appAddressSection({
            key: "placeOfOrigin",
            heading: "Place of origin",
            hint: "The address where the animals begin their journey to Great Britain",
            href: "/place-of-origin/select",
            addId: "addPlaceOfOrigin",
            changeId: "changePlaceOfOrigin",
            selected: selectedPlaceOfOrigin
          }) }}

          {{ appAddressSection({
            key: "consignor",
            heading: "Consignor or exporter",
            hint: "This is the sender of the consignment.",
            href: "/consignors/select",
            addId: "addConsignorOrExporter",
            changeId: "changeConsignorOrExporter",
            selected: selectedConsignor
          }) }}

          {{ appAddressSection({
            key: "consignee",
            heading: "Consignee",
            hint: "This is the receiver or buyer of the consignment being shipped or transported.",
            href: "/consignees/select",
            addId: "addConsignee",
            changeId: "changeConsignee",
            selected: selectedConsignee
          }) }}

          {{ appAddressSection({
            key: "importer",
            heading: "Importer",
            addText: "Add an importer",
            hint: "This is usually the same as the consignee. You can select a different person if needed.",
            href: "/importers/select",
            addId: "addImporter",
            changeId: "changeImporter",
            selected: selectedImporter
          }) }}

          {{ appAddressSection({
            key: "placeOfDestination",
            heading: "Place of destination",
            hint: "This is where the animals will be unloaded and accommodated for at least 48 hours. If a health certificate is required, it will show this address.",
            href: "/destinations/select",
            addId: "addPlaceOfDestination",
            changeId: "changePlaceOfDestination",
            selected: selectedDestination
          }) }}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">County Parish Holding number (CPH)</h2>
              </legend>
              <div id="cph-hint" class="govuk-hint">
                The County Parish Holding (CPH) number identifies the holding where the animals will be kept.
              </div>
              {% if selectedCphNumber %}
                <p class="govuk-body">{{ selectedCphNumber }}</p>
                <p class="govuk-body">
                  <a href="/cph-number" class="govuk-link" id="changeCphNumber" aria-describedby="cph-hint">Change CPH number</a>
                </p>
              {% else %}
                <p class="govuk-body">
                  <a href="/cph-number" class="govuk-link govuk-link--no-visited-state" id="addCphNumber" aria-describedby="cph-hint">Add a CPH number</a>
                </p>
              {% endif %}
            </fieldset>
          </div>

          {{ govukButton({ text: "Save and continue" }) }}

        </form>
      </div>
{% endblock %}
