{% extends 'layouts/page.njk' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ appReferenceNumberCaption({ referenceNumber: referenceNumber }) }}

  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        {% if errorList %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <form method="post" novalidate>
          <input type="hidden" name="crumb" value="{{ crumb }}"/>

            {{ govukSelect({
              id: "countryCode",
              name: "countryCode",
              label: {
                text: "Origin of the Import",
                classes: "govuk-label--m"
              },
              value: countryCode,
              errorMessage: fieldErrors.countryCode if fieldErrors,
              items: countryItems
            }) }}

            {{ govukRadios({
              name: "requiresRegionCode",
              value: requiresRegionCode,
              fieldset: {
                legend: {
                  text: "Does the consignment require a region of origin code?",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: "If a region of origin code is required it will be shown on your health certificate."
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

          {{ govukInput({
            label: {
              text: "Your internal reference number for this consignment (optional)",
              classes: "govuk-label--m"
            },
            hint: {
              text: "Enter any internal reference number you want to use to identify this consignment, or leave blank."
            },
            id: "internalReference",
            name: "internalReference",
            value: internalReference if internalReference,
            errorMessage: fieldErrors.internalReference if fieldErrors
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue"
            }) }}
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
