{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {{ appReferenceNumberCaption({ referenceNumber: referenceNumber }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/transporter"
  }) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body" data-testid="app-page-body">

      <span class="govuk-caption-l">Transport</span>
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}" />

        <div class="govuk-fieldset">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <table class="govuk-table govuk-table--small-text-until-tablet">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Address</th>
                  <th scope="col" class="govuk-table__header">Country</th>
                  <th scope="col" class="govuk-table__header">Approval Number</th>
                  <th scope="col" class="govuk-table__header">Type</th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% for transporter in transporters %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{{ transporter.name }}</th>
                    <td class="govuk-table__cell">
                      {{ transporter.address.addressLine1 }}{% if transporter.address.addressLine2 %}, {{ transporter.address.addressLine2 }}{% endif %}{% if transporter.address.addressLine3 %}, {{ transporter.address.addressLine3 }}{% endif %}
                    </td>
                    <td class="govuk-table__cell">{{ transporter.address.country }}</td>
                    <td class="govuk-table__cell">{{ transporter.approvalNumber }}</td>
                    <td class="govuk-table__cell">{{ transporter.type }}</td>
                    <td class="govuk-table__cell">
                      <a href="/transporters?selectedTransporter={{ loop.index0 }}" class="govuk-link" id="selectedTransporter-{{ loop.index0 }}">Select</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
