{% extends "standalone/live-animals/shared/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "standalone/live-animals/shared/save-actions.njk" import saveActions %}

{% block journeyContent %}
  {% include "standalone/live-animals/shared/error-summary.njk" %}

  <h1 class="govuk-heading-l">{{ heading }}</h1>

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />

    {{ govukSelect({
      id: "countryOfOrigin",
      name: "countryOfOrigin",
      label: { text: "Country of origin", classes: "govuk-label--s" },
      value: values.countryOfOrigin,
      errorMessage: errors.countryOfOrigin and { text: errors.countryOfOrigin },
      items: countryItems,
      attributes: { "data-select-autocomplete": "" }
    }) }}

    {% set regionCodeHtml %}
      {{ govukInput({
        id: "regionOfOriginCode",
        name: "regionOfOriginCode",
        label: { text: "Region of origin code" },
        hint: { text: "For example, FR-75" },
        classes: "govuk-input--width-5",
        value: values.regionOfOriginCode,
        errorMessage: errors.regionOfOriginCode and { text: errors.regionOfOriginCode }
      }) }}
    {% endset %}

    {{ govukRadios({
      name: "regionOfOriginCodeRequirement",
      fieldset: { legend: { text: "Does the consignment have a region of origin code?", classes: "govuk-fieldset__legend--s" } },
      hint: { text: "If a region of origin code is required it will be shown on your health certificate." },
      items: [
        { value: "yes", text: "Yes", checked: values.regionOfOriginCodeRequirement == "yes", conditional: { html: regionCodeHtml } },
        { value: "no", text: "No", checked: values.regionOfOriginCodeRequirement == "no" }
      ]
    }) }}

    {{ govukInput({
      id: "internalReferenceNumber",
      name: "internalReferenceNumber",
      label: { text: "Your internal reference for this consignment (optional)" },
      hint: { text: "Enter any internal reference you want to use to identify this consignment, or leave blank." },
      classes: "govuk-!-width-three-quarters",
      value: values.internalReferenceNumber,
      errorMessage: errors.internalReferenceNumber and { text: errors.internalReferenceNumber }
    }) }}

    {{ saveActions(hubHref) }}
  </form>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath('selectAutocomplete.js') }}"></script>
{% endblock %}
