{% extends "standalone/live-animals/shared/layout.njk" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "standalone/live-animals/shared/save-actions.njk" import saveActions %}

{% block journeyContent %}
  {% include "standalone/live-animals/shared/error-summary.njk" %}

  <h1 class="govuk-heading-l">{{ heading }}</h1>

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />

    {{ govukDateInput(exitDate) }}

    {{ saveActions(hubHref) }}
  </form>
{% endblock %}
