{% extends "standalone/live-animals/shared/layout.njk" %}

{% block journeyContent %}
  <h1 class="govuk-heading-l">You cannot use this service</h1>

  <p class="govuk-body">
    This prototype only covers imports of live animals or germinal products.
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="{{ changeAnswerHref }}">
      Go back and change your answer
    </a>
    if you are importing live animals or germinal products.
  </p>
{% endblock %}
