{% extends "standalone/live-animals/shared/layout.njk" %}

{% block journeyContent %}
  <h1 class="govuk-heading-l">{{ copy.notAvailable.title }}</h1>

  <p class="govuk-body">
    {{ copy.notAvailable.onlyCovers }}
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="{{ changeAnswerHref }}">
      {{ copy.notAvailable.changeAnswer }}
    </a>
    {{ copy.notAvailable.ifImporting }}
  </p>
{% endblock %}
