{# Minimum entry surface from docs/add-a-set.md step 9. #}
{% extends "shared/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block journeyContent %}
  {% include "shared/error-summary.njk" %}

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />

    {{ govukRadios({
      idPrefix: "importType",
      name: "importType",
      fieldset: {
        legend: {
          html: '<span class="govuk-caption-l">' ~ copy.caption ~ '</span>' ~ copy.title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      errorMessage: errors.importType and { text: errors.importType },
      items: importTypeOptions
    }) }}

    {{ govukButton({ text: copy.continueButton }) }}
  </form>
{% endblock %}
